[Desktop Entry]
Name=Respatch
Comment=Monitor message queues and errors
Exec=respatch
Icon=sk.mostka.Respatch
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
X-GNOME-UsesNotifications=true
