[Desktop Entry]
Name=Respatch Daemon
Comment=Background service for Respatch notifications
Type=Application
Exec=respatch-daemon
Icon=sk.mostka.Respatch
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true