[Desktop Entry]
Name=Respatch
Comment=Symfony Messenger Monitor
Exec=respatch
Icon=sk.tito10047.respatch
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
X-GNOME-UsesNotifications=true
